[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "==4.1.2.30"
ipykernel = "*"
numpy = "*"

[dev-packages]
ipykernel = "*"
autopep8 = "*"
black = "*"
pandas = "*"
flake8 = "*"
pydocstyle = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
